.features {
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 10px;
}

@media screen and (max-width: 996px) {
  .features {
    flex-direction: column;
  }
}

.feature {
  border: 1px solid #eaeaea;
  padding: 10px;
  border-radius: 8px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
