/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.homeBtns {
   --ifm-button-size-multiplier: 1.6;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 20px;
   justify-content: center;
   margin-top: 24px;
 }

.homeBtns a,
.homeBtns a:hover {
  color: inherit;
}